@media only screen and (min-width: 768px) {
    .about-container {
        margin: 150px 0px 0px 0px;
    }

    .about-container .header-container {
        padding: 50px 0px 0px 0px;
        margin: 0px 0px 75px 75px;
    }
}

@media only screen and (max-width: 450px) {
    .about-container {
        margin: 0px;
    }
}
.about-container {
    border-top: solid black;
}

.about-container .header-text {
    margin: 0px 0px 25px 0px;
}

.about-container .sub-heading-text {
    font-family: 'Italiana';
    font-size: 25px;
    padding: 0px 0px 0px 25px;
}

.about-container .about-img-container {
    width: 100%;
    height: auto;
    text-align: center;
}

.about-container .about-img {
    height: auto;
    width: 90%;
    object-fit: cover;
}

.about-container .contact-container {
    display: flex;
    margin: 150px 0px 100px 0px;
    padding: 0px 50px 0px 50px;
}

.about-container .contact-left {
    width: 50%;
}

.about-container .contact-right {
    width: 50%;
}