
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* GENERAL ELEMENTS */

p {
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --HEADER-- */

/* Mobile */

@media only screen and (max-width: 768px) {
    .header-desktop {
        display: none;
    }

    .icon {
        height: 50px;
    }

    header {
        display: flex;
        background-color: white;
        position: fixed;
        top: 0;
        height: 100px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0 15px;
    }
}

/* Desktop */

@media only screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    header {
        display: flex;
        background-color: white;
        position: fixed;
        top: 0;
        height: 150px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px 0 25px;
    }

    .icon {
        height: 100px;
    }
}

/* General */

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 0px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 15px 0 15px;
    height: auto;
    width: auto;
}

.nav-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 15px;
    height: 50px;
    width: 150px;
    background-color: rgb(109, 101, 89);
}

/* --MAIN-- */

main {
    text-align: center;
    margin: 150px 0px 0px 0px;
    width: 100%;
}

h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.intro-img {
    width: 100%;
    height: auto;
}

/* --SECTIONS-- */

.portfolio-section {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(241, 243, 243);
    padding: 50px 25px 75px 25px;
}

.blog-section {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    padding: 50px 25px 75px 25px;    
}

.services-section {
    padding: 75px 0px 50px 0px;
}

.services-header {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 25px 50px;
}

.section-header {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 25px 25px;
}

.section-text-left {
    font-size: 35px;
    letter-spacing: 0.1rem;
}

.section-text-right {
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.section-images-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 25px;
}

.section-image-container {
    width: 400px;
    height: 600px;
    text-align: left;
}

.section-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-image-text {
    font-family: "Lato";
    margin: 5px 0px 0px 0px;
    letter-spacing: 0.2rem;
}

.services-images {
    display: flex;
    justify-content: space-between;
}

.service-image-container {
    width:50%;
    height: auto;
    text-align: left;
}

.service-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --FOOTER- */

.footer-top {
    position: relative;
    width: 100%;
    height: 500px;
}

.footer-top-image {
    text-align: center;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.footer-top-text {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color: white;
    position: absolute;
    padding: 0px 75px 0px 75px;
    top: 25%;
    left: 0;
}

footer {
    display: flex;
    color: white;
    background-color: rgb(109, 101, 89);
    width: 100%;
    height: 300px;
}

.subscribe-container {
    text-align: start;
    width: 50%;
}

.subscribe-header {
    margin: 25px 0px 0px 25px;
}

.subscribe-text {
    font-size: 13px;
    margin: 0px 0px 25px 25px;
}

.subscribe-form {
    margin: 0px 0px 25px 25px;
}

.subscribe-input {
    height: 50px;
    width: 250px;
}

.subscrine-input::placeholder {
    color: red;
}

.subscribe-button {
    margin: 0px 0px 0px 25px;
    background-color: white;
    color: gray;
    border: none;
    height: 50px;
    width: 150px;
}

.footer-nav {
    text-align: end;
    width: 50%;
    padding: 25px 25px 0px 0px;
}

.footer-nav-item {
    padding: 0px 0px 10px 0px;
}

.nav-item-text {
    border-bottom: solid white;
}



