@media only screen and (min-width: 768px) {
    .container {
        margin: 150px 0px 0px 0px;
    }

    .header-container {
        padding: 50px 0px 0px 0px;
        margin: 0px 0px 0px 75px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        margin: 0px;
    }
}
.container {
    
    border-top: solid black;
}

.header-container {
    display: flex;
}

.grid-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0px 25px 0px;
}

.grid-item {
    width: 45%;
    height: auto;
}

.grid-image {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}