.blog-container {
    padding: 0px 150px;
}

.blog-container .header-container {
    margin: 200px 0px 0px 0px;
    padding: 0px;
}

.blog-container .header-text {
    padding: 0px;
    font-size: 50px;
}

.blog-container .sub-header {
    font-family: 'Italiana';
    padding: 0px 0px 20px 0px;
}

.blog-container .top-section-text {
    margin: 0px 0px 40px 0px;
    line-height: 2.3rem;
}

.blog-container .middle-section-text {
    margin: 0px 0px 40px 0px;
    line-height: 2.3rem;
}

.blog-container .end-section-text {
    margin: 0px;
    line-height: 2.3rem;
}


.blog-container .top-section-image {
    width: 100%;
    height: auto;
    margin: 0px 0px 25px 0px;
}

.blog-container .middle-section-image {
    width: 100%;
    height: auto;
    margin: 0px 0px 25px 0px;
}

.blog-container .learn-more-text {
    font-style: italic;
    padding: 0px 0px 25px 0px;
}